<% if (pegawai.length<1) { %>
    <h1>INVALID REQUEST</h1>
<% } else { %>
    <h1>Detail Karyawan</h1>
    <hr>
    <b>Nama</b>: <%= pegawai[0].nama %><br>
    <b>Gender</b>: <%= (pegawai[0].gender =="L") ? "Laki-laki" : "Perempuan" %><br>
    <b>NIP</b>: <%= pegawai[0].nip %><br>
    <b>Alamat</b>: <%= pegawai[0].alamat %><br>
    <b>Departemen</b>: <%= pegawai[0].kodeDept %> (<%= pegawai[0].namaDept %>)<br>
    <b>Agama</b>: <%= pegawai[0].namaAgama %><br>
    <%= JSON.stringify(pegawai) %>
<% } %>